@page
@model EmployeeManager.Pages.Administration.ListUserModel
@{
    ViewData["Title"] = "UserRoleInfo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <form>
        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Users List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-info">
                    <i class="fas fa-plus"></i>  Create New Account
                </a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr class="tr-color">
                    <th>
                        @Html.DisplayNameFor(m => m.Users[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Users[0].Email)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Email)
                        </td>

                    </tr>

                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Role List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="/Administration/CreateRole" class="btn btn-info">
                    <i class="fas fa-plus"></i>  Create New Role
                </a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr class="tr-color">
                    <th>
                        @Html.DisplayNameFor(m => m.AllRoles[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.AllRoles[0].Name)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AllRoles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-6">
                <h2 class="text-info">UserRoles List</h2>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr class="tr-color">
                    <th>
                        @Html.DisplayNameFor(m => m.UsersRoles[0].RoleId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.UsersRoles[0].UserId)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsersRoles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.RoleId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.UserId)
                        </td>

                    </tr>

                }
            </tbody>
        </table>

    </form>  